force-app/main/default/flows/Assistente_de_Inscri_o_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>ifModulosTreinamento</name>
        <label>Verifica se tem modulos no treinamento</label>
        <locationX>440</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Screen_SemModulo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não tem modulos</defaultConnectorLabel>
        <rules>
            <name>Tem_modulos_no_treinamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecModulosDoTreinamento</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Modulo</targetReference>
            </connector>
            <label>Tem modulos no treinamento</label>
        </rules>
    </decisions>
    <description>Fluxo para inscrição dos usuários nos módulos dos treinamentos</description>
    <dynamicChoiceSets>
        <description>Lista de treinamentos ativos</description>
        <name>recChoiceTreinamentosAtivos</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Treinamento__c</object>
        <outputAssignments>
            <assignToReference>varIdTreinamento</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Exibe o nome do usuário</description>
        <name>UserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp;  &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Assistente de Inscrição Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assistente de Inscrição Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Carrega os Módulos do treinamento selecionado</description>
        <name>getRecModulosDoTreinamento</name>
        <label>Get Modulos do treinamento</label>
        <locationX>447</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifModulosTreinamento</targetReference>
        </connector>
        <filters>
            <field>TreinamentoId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdTreinamento</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Treinamento_Modulo__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Confirmacao</name>
        <label>Confirmação</label>
        <locationX>806</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lblResultados</name>
            <fieldText>&lt;p&gt;Prezado(a)  &lt;b&gt;{!UserName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Para confirmar sua inscrição no treinamento &lt;b&gt;{!pklTreinamentosAtivos}&lt;/b&gt; e modulo &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varOptModulo}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;, avance para o proximo passo.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Caso queira alterar, basta retornar ao passo anterior.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;varIdTreinamento = {!varIdTreinamento} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;varIdModulo = {!varIdModulo}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Modulo</name>
        <label>Modulo</label>
        <locationX>671</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Confirmacao</targetReference>
        </connector>
        <fields>
            <name>lwcModulo</name>
            <extensionName>c:moduloFlowScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>varIdModuloLwc</name>
                <value>
                    <elementReference>varIdModulo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>varIdTreinamentoLwc</name>
                <value>
                    <elementReference>varIdModulo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>varOptionModuloLwc</name>
                <value>
                    <elementReference>varOptModulo</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varIdModulo</assignToReference>
                <name>varIdModuloLwc</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varIdModulo</assignToReference>
                <name>varIdTreinamentoLwc</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varOptModulo</assignToReference>
                <name>varOptionModuloLwc</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_SemModulo</name>
        <label>Não tem modulos</label>
        <locationX>225</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblSemModulo</name>
            <fieldText>&lt;p&gt;Desculpe, mas o treinamento que você escolheu não tem nenhum módulo relacionado!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Auxilia o usuário a se inscrever em módulos de treinamentos</description>
        <name>Screen_Treinamento</name>
        <label>Treinamento</label>
        <locationX>282</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getRecModulosDoTreinamento</targetReference>
        </connector>
        <fields>
            <name>lblDisplay</name>
            <fieldText>&lt;p&gt;Olá {!UserName}, por favor selecione um treinamento na lista!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pklTreinamentosAtivos</name>
            <choiceReferences>recChoiceTreinamentosAtivos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Treinamentos Ativos</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>127</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Screen_Treinamento</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varAccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varIdModulo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Armazena o id do treinamento selecionado</description>
        <name>varIdTreinamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id do treinamento selecionado</description>
        <name>varIdTreinamentoSelecionado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Treinamento__c</objectType>
    </variables>
    <variables>
        <name>varOptModulo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
